.bg-img {
    background-size: cover;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
}

.time {
    position: absolute;
    transform: translate(12em, 13em);
    background-color: transparent;
    backdrop-filter: blur(4px);
    font-size: 20px;
}


.weather {
    position: absolute;
    transform: translateX(40em)
}

.quote {
    object-fit: contain;
    position: absolute;
    transform: translate(0em, 23em);
    margin: 3em;
    max-width: 45%;
}

.author {
    object-fit: contain;
    position: absolute;
    transform: translate(8em, 30em);
    justify-content: center;
}

.todo {
    position: absolute;
    transform: translate(50em, 10em);
}